<%- include('../includes/head.ejs') %>
    </head>

    <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0 ){%>
            <ul>
                <% products.forEach(product => {%>
                    <li>
                        <p><%= product.product.title%> (<%= product.qty%>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <button type="submit" class='btn'>Delete</button>
                            <input type="hidden" value="<%= product.product.id %>" name="productId" >
                        </form>
                    </li>
                <%})%>
            </ul>
        <%}else{%>
            No products in cart
        <%}%>
    </main>
    <%- include('../includes/end.ejs') %>